@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@font-face {
    font-family: 'Brush King';
    src:
        local('Brush King'),
        url('https://assets.vibestream.online/assets/fonts/BrushKing.otf');
}

:root {
    --font: 'Open Sans';
    --titleFont: 'Brush King'
}

body, html {
    height: 100%;
    margin: 0;
}
  
body {
    background-image: url("https://assets.vibestream.online/assets/images/background.svg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

#app {
    width: 90vw;
    margin-left: 5vw;
    margin-top: 30vh;
    text-align: center;
}

#songInfo {
    font-family: var(--font);
    background-color: #ffffff50;
    width: 50vw;
    margin-left: 20vw;
    border: none;
    border-radius: 32px;
    padding: 8px;
    filter: drop-shadow(0 0 10px white);
}

h1 {
    font-family: var(--titleFont);
    letter-spacing: 0.5vw;
    font-size: 4vw;
    margin-bottom: 0px;
}