#buttonContainer {
    background-color: #383F51;
    width: 74px;
    height: 74px;
    margin: auto;
    border: none;
    border-radius: 100%;
    padding: 32px;
    margin-top: 16px;
    filter: drop-shadow(0 0 5px #121212);
}

#playButton {
    margin-left: 8px;
    transition: 0.5s;
}

#playButton.play {
    width: 74px;
    height: 74px;
    border-style: solid;
    box-sizing: border-box;
    border-width: 37px 0px 37px 74px;
    border-color: transparent transparent transparent white;
}

#playButton.pause {
    margin-left: 0px;
    width: 74px;
    height: 74px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
}

#playButton.play:hover {
    transform: scale(1.2);
}